<!DOCTYPE html>
<html>
<head>
    <title>マッチ詳細</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <h1>マッチ詳細</h1>

    {% for profile in profiles %}
            <h2>プロフィール詳細:</h2>
            <p>名前: {{ profile.name }}</p>
            <p>年齢: {{ profile.age }}</p>
            <p>職業: {{ profile.occupation }}</p>
            <p>情報収集手段: {{ profile.info_source }}</p>
            <p>話したい本のタイトル: {{ profile.talk_contents_title }}</p>
            <p>トピックテーマ: {{ profile.other_topic_theme }}</p>
    {% endfor %}
    

</body>
</html>
